# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~

# AWS
.aws-sam/
.aws/
samconfig.toml

# Local development
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local 